.dashboard {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100dvh;
  width: 100%;
}

.button-sidebar {
  display: flex;
  gap: 8px;
  padding: 8px 12px;
  position: relative;
  align-items: center;

  &::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
  }

  &:hover {
    background-color: #ffffff1a;
  }

  &:active {
    background-color: #00000033;
  }
}

.button-sidebar.active {
  background-color: #00000039;
  &::before {
    background-color: #4444f0;
  }
}
