.dashboard {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100dvh;
  width: 100%;
}

.button-sidebar {
  display: flex;
  gap: 8px;
  padding: 8px 12px;
  position: relative;
  align-items: center;

  &:hover {
    background-color: #0e44c41a;
  }

  &:active {
    background-color: #0e44c433;
    scale: 0.98;
  }
}

.button-sidebar.active {
  font-weight: 600;
  background-color: #0e44c439;
}
